.Boton {
    width: 167px;
    height: 80px;
    top: -393px;
    left: -4873px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background-color: #6278F7;
    margin: 8px 0;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Monserrat", serif;
    font-weight: 700;
    border: none;
}

.Boton:hover {
    color: #95FFD4;
}